:root {
	font-size: 62.5%; /* now 1rem = 10px */

	--container-gutter-horizontal: 13.19%;

	/* Colors variables */
	/* Primary */
	--c-primary: #cccccc;
	--c-primary-light: #878787;
	--c-primary-dark: #403d54;
	--c-primary-darker: #1e1e1e;
	--c-primary-darkest: #000000;
	/* Secondary */
	--c-secondary: #b6aaff;
	--c-secondary-light: #2b2168;
	--c-secondary-dark: #0b004e;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 1.6rem;
	background-color: var(--c-primary-darkest);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}
